################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/*
/MiaoywwwTools/bin/
/MiaoywwwTools/obj/
/restart/bin/
/restart/obj/
/update/bin/
/update/obj/
/Debug/
/Release
/MiaoywwwTools_Android/MiaoywwwTools_Android/bin/
/MiaoywwwTools_Android/MiaoywwwTools_Android/obj/
/MiaoywwwTools_Android/MiaoywwwTools_Android.Android/bin/
/MiaoywwwTools_Android/MiaoywwwTools_Android.Android/obj/
