################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs/*
/MiaoywwwTools/bin/
/MiaoywwwTools/obj/
/restart/bin/
/restart/obj/
/updata/bin/
/updata/obj/
/Debug/
/Release
#可能会造成隐私泄露,建议您不要上传此文件
/MiaoywwwTools/Resources/Data/stdata.json

